@model IEnumerable<Silerium.Models.Subcategory>

@{
    ViewData["Title"] = "Подкатегории";
    Layout = "_AdminPanelLayout";
}

<div class="mx-3">
    <h1>Подкатегории</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Подкатегории")
                </th>
                <th>
                    @Html.DisplayName("Категория")
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() != 0)
            {
                @foreach (var subcategory in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => subcategory.Name)
                        </td>
                        <td>
                            @if (subcategory.Category != null)
                            {
                                <a asp-action="EditCategory" asp-route-id="@subcategory.Category.Id">@Html.DisplayFor(modelItem => subcategory.Category.Name)</a>
                            }
                        </td>
                        <td>
                            <a asp-action="CreateSubcategory" asp-route-id="@subcategory.Category.Id" class="btn btn-success">Создать новую подкатегорию</a>
                            <a asp-action="EditSubcategory" asp-route-id="@subcategory.Category.Id" class="btn btn-warning">Редактировать</a>
                            <a asp-action="DeleteSubcategory" asp-route-id="@subcategory.Category.Id" class="btn btn-danger">Удалить</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
