@model IEnumerable<Silerium.Models.Subcategory>

@{
    ViewData["Title"] = "Подкатегории";
    Layout = "_AdminPanelLayout";
}
<div class="mx-3">

    <form style="width: 200px; margin-bottom: 15px;" asp-action="SearchSubcategories" asp-controller="Admin">
        <label class="form-label" for="searchSubcategories">Поиск</label>
        <input type="search" class="form-control" name="searchSubcategories" id="searchSubcategories" />
    </form>
    <h1>Подкатегории</h1>

    <p>
        <a asp-action="CreateSubcategory" class="btn btn-success">Создать новую подкатегорию</a>
    </p>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Подкатегории")
                </th>
                <th>
                    @Html.DisplayName("Категория")
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() != 0)
            {
                @foreach (var subcategory in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => subcategory.Name)
                        </td>
                        <td>
                            @if (subcategory.Category != null)
                            {
                                <a class="text-decoration-none text-black" asp-action="EditCategory" asp-route-id="@subcategory.Category.Id">
                                    @Html.DisplayFor(modelItem => subcategory.Category.Name)
                                </a>
                            }
                        </td>
                        <td>
                            <a asp-action="EditSubcategory" asp-route-id="@subcategory.Category.Id" class="btn btn-warning">Редактировать</a>
                            <a asp-action="DeleteSubcategory" asp-route-id="@subcategory.Category.Id" class="btn btn-danger">Удалить</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
