@using System.Globalization
@model Silerium.ViewModels.ProductsModels.ProductViewModel

@{
    ViewData["Title"] = "Добавление товара в корзину";
}

@section Scripts
{
    <script type="text/javascript">
        var basePrice = 
        $("#amount").change(function () {
            var amount = $(this).val();
            var basePrice = $("#base_price").val();
            var totalPrice = (basePrice * amount).toFixed(1);
            console.log(totalPrice);
            var strPrice = new Intl.NumberFormat("ru", {minimumFractionDigits: 1}).format(totalPrice);
            console.log(strPrice)
            $("#price").text(strPrice);
        });
    </script>
}

<div class="container" style="width: 650px;">
    <h1>@Model.Product.Name</h1>
    <img alt="картинка товара" src="@Model.Product.Images.FirstOrDefault().Image" />
    <form asp-action="AddToCart" asp-controller="Catalog">
        <div class="row">
            <div class="col-6">
                <label for="amount" class="form-label">Количество шт.</label>
            </div>
            <div class="col-6">
                <input type="number" name="amount" id="amount" class="form-control" value="1" style="width: 100px;" />
            </div>
        </div>
        <input hidden id="base_price" value="@Model.Product.PriceRub" />
        <input hidden name="id" value="@Model.Product.Id" />
        <h3>Цена итого: <span id="price">@Model.Product.PriceRub.ToString("N1", CultureInfo.CreateSpecificCulture("ru-RU"))</span> &#8381</h3>
        <button type="submit" class="btn btn-success text-white">В корзину</button>
    </form>
</div>