@model Silerium.ViewModels.ProductsCatalogViewModel

@{
    ViewData["Title"] = Model.Subcategory.Name;
}

<h1>Товары</h1>
<div>
    @foreach(var product in Model.Products)
    {
        <div>
            <h3>@product.Name</h3>
            <img src="@product.Images.FirstOrDefault().Image" alt="@product.Name">
            <p>Цена в рублях: @product.PriceRub &#8381;</p>
            <div class="row">
                <div class="col-4">
                    <p>Количество - @product.StockAmount шт.</p>
                </div>
                @{
                    string available = product.Available ? "Да" : "Нет";
                }
                <div class="col-4">
                    <p>Можно купить - @available</p>
                </div>
                <div class="col-4">
                    <a class="btn btn-success" href="#">Купить</a>
                </div>
            </div>
        </div>
    }
</div>