@model Silerium.ViewModels.ProductsCatalogViewModel

@{
    ViewData["Title"] = Model.Subcategory.Name;
}

<h1>Товары</h1>

<div>
    <nav class="navbar navbar-expand-md">
        <div class="container-fluid g-3">
            <span class="navbar-text">Сортировать по:</span>
            <div class="navbar-collapse">
                <div class="navbar-nav">
                    @switch(Model.ProductsQuery.SortOrder)
                    {
                        case Silerium.Models.Query.SortOrder.NAME_ASC:
                            <a class="nav-link active text-black" asp-action="Products" asp-controller="Catalog" 
                            asp-route-subcategory_name="@Model.Subcategory.Name" asp-route-sort_order="NAME_DESC">
                                Названию
                                <i class="bi bi-arrow-down text-secondary"></i>
                                <i class="bi bi-arrow-up"></i>
                            </a>
                            <a class="nav-link text-black" asp-action="Products" asp-controller="Catalog"
                                asp-route-subcategory_name="@Model.Subcategory.Name" asp-route-sort_order="POP_DESC">
                                Популярности
                                <i class="bi bi-arrow-down text-secondary"></i>
                                <i class="bi bi-arrow-up text-secondary"></i>
                            </a>
                            <a class="nav-link text-black" asp-action="Products" asp-controller="Catalog"
                                asp-route-subcategory_name="@Model.Subcategory.Name" asp-route-sort_order="PRICE_DESC">
                                Цене
                                <i class="bi bi-arrow-down text-secondary"></i>
                                <i class="bi bi-arrow-up text-secondary"></i>
                            </a>
                            break;
                        case Silerium.Models.Query.SortOrder.NAME_DESC:
                            <a class="nav-link active text-black" asp-action="Products" asp-controller="Catalog"
                                asp-route-subcategory_name="@Model.Subcategory.Name" asp-route-sort_order="NAME_ASC">
                                Названию
                                <i class="bi bi-arrow-down"></i>
                                <i class="bi bi-arrow-up text-secondary"></i>
                            </a>
                            <a class="nav-link text-black" asp-action="Products" asp-controller="Catalog"
                                asp-route-subcategory_name="@Model.Subcategory.Name" asp-route-sort_order="POP_DESC">
                                Популярности
                                <i class="bi bi-arrow-down text-secondary"></i>
                                <i class="bi bi-arrow-up text-secondary"></i>
                            </a>
                            <a class="nav-link text-black" asp-action="Products" asp-controller="Catalog"
                                asp-route-subcategory_name="@Model.Subcategory.Name" asp-route-sort_order="PRICE_DESC">
                                Цене
                                <i class="bi bi-arrow-down text-secondary"></i>
                                <i class="bi bi-arrow-up text-secondary"></i>
                            </a>
                        break;
                        case Silerium.Models.Query.SortOrder.POP_ASC:
                            <a class="nav-link text-black" asp-action="Products" asp-controller="Catalog"
                                asp-route-subcategory_name="@Model.Subcategory.Name" asp-route-sort_order="NAME_DESC">
                                Названию
                                <i class="bi bi-arrow-down text-secondary"></i>
                                <i class="bi bi-arrow-up text-secondary"></i>
                            </a>
                            <a class="nav-link active text-black" asp-action="Products" asp-controller="Catalog"
                                asp-route-subcategory_name="@Model.Subcategory.Name" asp-route-sort_order="POP_DESC">
                                Популярности
                                <i class="bi bi-arrow-down text-secondary"></i>
                                <i class="bi bi-arrow-up"></i>
                            </a>
                            <a class="nav-link text-black" asp-action="Products" asp-controller="Catalog"
                                asp-route-subcategory_name="@Model.Subcategory.Name" asp-route-sort_order="PRICE_DESC">
                                Цене
                                <i class="bi bi-arrow-down text-secondary"></i>
                                <i class="bi bi-arrow-up text-secondary"></i>
                            </a>
                        break;
                        case Silerium.Models.Query.SortOrder.POP_DESC:
                            <a class="nav-link text-black" asp-action="Products" asp-controller="Catalog"
                                asp-route-subcategory_name="@Model.Subcategory.Name" asp-route-sort_order="NAME_DESC">
                                Названию
                                <i class="bi bi-arrow-down text-secondary"></i>
                                <i class="bi bi-arrow-up text-secondary"></i>
                            </a>
                            <a class="nav-link active text-black" asp-action="Products" asp-controller="Catalog"
                                asp-route-subcategory_name="@Model.Subcategory.Name" asp-route-sort_order="POP_ASC">
                                Популярности
                                <i class="bi bi-arrow-down"></i>
                                <i class="bi bi-arrow-up text-secondary"></i>
                            </a>
                            <a class="nav-link text-black" asp-action="Products" asp-controller="Catalog"
                                asp-route-subcategory_name="@Model.Subcategory.Name" asp-route-sort_order="PRICE_DESC">
                                Цене
                                <i class="bi bi-arrow-down text-secondary"></i>
                                <i class="bi bi-arrow-up text-secondary"></i>
                            </a>
                        break;
                        case Silerium.Models.Query.SortOrder.PRICE_ASC:
                            <a class="nav-link text-black" asp-action="Products" asp-controller="Catalog"
                                asp-route-subcategory_name="@Model.Subcategory.Name" asp-route-sort_order="NAME_DESC">
                                Названию
                                <i class="bi bi-arrow-down text-secondary"></i>
                                <i class="bi bi-arrow-up text-secondary"></i>
                            </a>
                            <a class="nav-link text-black" asp-action="Products" asp-controller="Catalog"
                                asp-route-subcategory_name="@Model.Subcategory.Name" asp-route-sort_order="POP_DESC">
                                Популярности
                                <i class="bi bi-arrow-down text-secondary"></i>
                                <i class="bi bi-arrow-up text-secondary"></i>
                            </a>
                            <a class="nav-link active text-black" asp-action="Products" asp-controller="Catalog"
                                asp-route-subcategory_name="@Model.Subcategory.Name" asp-route-sort_order="PRICE_DESC">
                                Цене
                                <i class="bi bi-arrow-down text-secondary"></i>
                                <i class="bi bi-arrow-up"></i>
                            </a>
                        break;
                        case Silerium.Models.Query.SortOrder.PRICE_DESC:
                            <a class="nav-link text-black" asp-action="Products" asp-controller="Catalog"
                                asp-route-subcategory_name="@Model.Subcategory.Name" asp-route-sort_order="NAME_DESC">
                                Названию
                                <i class="bi bi-arrow-down text-secondary"></i>
                                <i class="bi bi-arrow-up text-secondary"></i>
                            </a>
                            <a class="nav-link text-black" asp-action="Products" asp-controller="Catalog"
                                asp-route-subcategory_name="@Model.Subcategory.Name" asp-route-sort_order="POP_DESC">
                                Популярности
                                <i class="bi bi-arrow-down text-secondary"></i>
                                <i class="bi bi-arrow-up text-secondary"></i>
                            </a>
                            <a class="nav-link active text-black" asp-action="Products" asp-controller="Catalog"
                                asp-route-subcategory_name="@Model.Subcategory.Name" asp-route-sort_order="PRICE_ASC">
                                Цене
                                <i class="bi bi-arrow-down"></i>
                                <i class="bi bi-arrow-up text-secondary"></i>
                            </a>
                        break;
                    }
                </div>
            </div>
        </div>
    </nav>
    @foreach(var product in Model.Products)
    {
        <div>
            <h3>@product.Name</h3>
            <img src="@product.Images.FirstOrDefault().Image" alt="@product.Name">
            <p>Цена в рублях: @product.PriceRub &#8381;</p>
            <div class="row">
                <div class="col-4">
                    <p>Количество - @product.StockAmount шт.</p>
                </div>
                @{
                    string available = product.Available ? "Да" : "Нет";
                }
                <div class="col-4">
                    <p>Можно купить - @available</p>
                </div>
                <div class="col-4">
                    <a class="btn btn-success" asp-action="Product" asp-controller="Catalog" asp-route-id="@product.Id">Купить</a>
                </div>
            </div>
        </div>
    }
    <nav aria-label="Search results pages.">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="First">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (int i = Model.FirstPaginationIndex; i <= Model.LastPaginationIndex; i++)
            {
                if (i == Model.ProductsQuery.Page)
                {
                    <li class="page-item">
                            <a class="page-link active" asp-action="Products" asp-controller="Catalog"
                        asp-route-page="@i"
                        asp-route-category_name="@Context.Request.Query["ProductsQuery.CategoryName"]"
                        asp-route-subcategory_name="@Context.Request.Query["ProductsQuery.SubcategoryName"]"
                        asp-route-product_name="@Context.Request.Query["ProductsQuery.ProductName"]"
                        asp-route-sort_order="@Context.Request.Query["ProductsQuery.SortOrder"]">@i</a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" asp-action="Products" asp-controller="Catalog"
                    asp-route-page="@i"
                    asp-route-category_name="@Context.Request.Query["ProductsQuery.CategoryName"]"
                    asp-route-subcategory_name="@Context.Request.Query["ProductsQuery.SubcategoryName"]"
                    asp-route-product_name="@Context.Request.Query["ProductsQuery.ProductName"]"
                    asp-route-sort_order="@Context.Request.Query["ProductsQuery.SortOrder"]">@i</a>
                    </li>
                }
            }
            <li class="page-item">
                <input aria-label="Jump to page" class="form-control shadow-none" name="page" type="number" placeholder="К странице ..."
                       style="width: 125px; height: 38px;" />
            </li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Last">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>