@model Silerium.ViewModels.AuthModels.UserLoginViewModel
@{
    ViewData["title"] = "Вход в профиль";
}

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<h2 class="text-center">Вход</h2>
<div class="container" style="width: 500px;">
    <form asp-action="Login" asp-controller="User">
        @if (TempData["Wrong Login"] != null)
        {
            <ul>
                <li class="text-danger">@TempData["Wrong Login"]</li>
            </ul>
        }
        <div class="mb-3">
            <label class="form-label" asp-for="Email">Email</label>
            <input class="form-control" type="email" asp-for="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        @if (TempData["Wrong Email"] != null)
        {
            <ul>
                <li class="text-danger">@TempData["Wrong Email"]</li>
            </ul>
        }
        <div class="mb-3">
            <label class="form-label" asp-for="Password">Пароль</label>
            <input class="form-control" type="password" asp-for="Password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        @if (TempData["Wrong Password"] != null)
        {
            <ul>
                <li class="text-danger">@TempData["Wrong Password"]</li>
            </ul>
        }
        @if (TempData["User not found"] != null)
        {
            <ul>
                <li class="text-danger">@TempData["User not found"]</li>
            </ul>
        }
        <div class="mb-3">
            <label asp-for="RememberMe" class="form-label">Запомнить</label>
            <input type="checkbox" class="form-check" asp-for="RememberMe" />
        </div>

        <input hidden name="returnUrl" value="@Model.ReturnUrl" />

        <div class="row mb-3 justify-content-center">
            <a class="btn btn-outline-secondary text-decoration-none col-4" asp-action="Register" asp-controller="User" asp-route-returnUrl="@Model.ReturnUrl">
                Зарегистрироваться
            </a>
            <div class="col-2"></div>
            <button class="btn btn-outline-primary col-4" type="submit">Войти</button>
        </div>
    </form>
</div>