@model Silerium.ViewModels.UserViewModel;

@{
    ViewData["title"] = "Профиль";
}
<div class="container">
    <div class="row mb-3">
        <div class="col-2">
            <img alt="Картинка профиля" src="data:image;base64,@(Convert.ToBase64String(Model.User.ProfilePicture))" width="168" height="168" />
        </div>
        <div class="col-10">
            <h3>Имя: @Model.User.Name</h3>
            <h3>Фамилия: @Model.User.Surname</h3>
            @if (Model.User.BirthDate != null)
            {
                <p>День рождения: @DateOnly.FromDateTime((DateTime)Model.User.BirthDate).ToString()</p>
            }
            <p>Номер телефона: @Model.User.Phone</p>
            <p>Страна проживания: @Model.User.Country</p>
            @if (Model.User.HomeAdress == null)
            {
                <p>Адрес доставки: Не указан</p>
            }
            else
            {
                <p>Адрес доставки: @Model.User.HomeAdress</p>
            }
        </div>
    </div>
    <a class="btn btn-outline-secondary text-decoration-none" asp-action="EditProfile" asp-controller="User">Редактировать профильf</a>
    <a class="btn btn-outline-danger text-decoration-none" asp-action="Logout" asp-controller="User">Выйти из профиля</a>
</div>