@model Silerium.ViewModels.UserViewModel
@{
    ViewData["Title"] = "Корзина";
}
<div class="container" style="width: 650px;">
    @if (Model.User.Orders.Count() != 0)
    {
        @foreach (var order in Model.User.Orders.Where(o => 
        o.OrderStatus == Silerium.Models.OrderStatus.OPENED || 
        o.OrderStatus == Silerium.Models.OrderStatus.PENDING ||
        o.OrderStatus == Silerium.Models.OrderStatus.DELIVERY))
        {
            var productID = order.ProductId;
            string productIDTemp = productID.ToString();
            string productIDStr = "00000000";
            productIDStr = productIDStr.Remove(productIDStr.Length - productIDTemp.Length).Insert(productIDStr.Length - productIDTemp.Length, productIDTemp);
            <h2>@order.Product.Name</h2>
            <h4 class="text-secondary">Номер товара - @productIDStr</h4>
            <img alt="картинка товара" width="150" height="150" src="@order.Product.Images.FirstOrDefault().Image">
            <p>Цена: @order.Product.PriceRub &#8381;</p>
            <p>Количество: @order.OrderAmount шт.</p>
            var totalPrice = order.Product.PriceRub * order.OrderAmount;
            <p>Цена итого: @totalPrice &#8381;</p>
            string orderStatus = "";
            string orderColor = "";
            switch(order.OrderStatus)
            {
                case Silerium.Models.OrderStatus.ISSUING:
                    orderStatus = "Ожидает оформления";
                    orderColor = "#7a7a7a";
                    break;
                case Silerium.Models.OrderStatus.OPENED:
                    orderStatus = "Открыт";
                    orderColor = "#1aa922";
                    break;
                case Silerium.Models.OrderStatus.PENDING:
                    orderStatus = "Ожидается";
                    orderColor = "#a0a147";
                    break;
                case Silerium.Models.OrderStatus.DELIVERY:
                    orderStatus = "Отправлен";
                    orderColor = "#0b78a1";
                    break;
            }
            <p style="color: @orderColor;">Статус заказа: @orderStatus</p>
            <div class="row">
                <div class="col-2">
                    <a class="btn btn-outline-secondary" asp-action="EditOrder" asp-controller="User">
                        <i class="bi bi-arrow-repeat"></i>
                    </a>
                </div>
                <div class="col-2"></div>
                <div class="col-2">
                    <a class="btn btn-outline-danger" asp-action="DeleteOrder" asp-controller="User">
                            <i class="bi bi-trash"></i>
                    </a>
                </div>
            </div>
            <hr />
        }
        <a class="btn btn-outline-success" asp-action="CheckoutOrder" asp-controller="User">Оформить заказ</a>
    }
    else
    {
        <p>На данный момент у вас заказов не имеется.</p>
        <a class="btn btn-outline-primary" asp-action="Index" asp-controller="Categories">К категориям товаров</a>
    }
</div>