@model Silerium.ViewModels.PermissionAuthorizationModels.ManageUserRolesViewModel
@{
    ViewData["Title"] = "Роли пользователя";
    Layout = "_AdminPanelLayout";
}
<div class="mx-3">
    <h1>Изменение ролей пользователя @Model.UserName</h1>
    <form asp-action="UserRoles" asp-controller="Admin">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>
                        @Html.DisplayName("Роль")
                    </td>
                    <td>
                        @Html.DisplayName("Статус")
                    </td>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.RolesVM.Count; i++)
                {
                    <tr>
                        <td>
                            <input hidden asp-for="@Model.RolesVM[i].RoleName" value="@Model.RolesVM[i].RoleName">
                            @Model.RolesVM[i].RoleName
                        </td>
                        <td>
                            <input type="checkbox" asp-for="@Model.RolesVM[i].Selected" class="form-check">
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <input hidden value="@Model.UserName" asp-for="@Model.UserName" />
        <button type="submit" class="btn btn-success">Сохранить</button>
    </form>
</div>