@model Silerium.Models.Category

@{
    ViewData["Title"] = "Смартфоны";
}

<h1>Смартфоны</h1>
<div class="row">
    @foreach(var subcategory in Model.Subcategories)
    {
        <div class="col col-sm-12 col-md-6 col-xl-4">
           @if (subcategory.Image != null)
           {
               <img class="subcategory-image" src="@subcategory.Image" alt="@subcategory.Name">
           }
           <a class="text-decoration-none" asp-action="Products" asp-controller="Catalog" 
           asp-route-subcategory_name="@subcategory.Name.ToLower()"
           asp-route-category_name="@Model.Name.ToLower()"
           asp-route-sort_order="NAME_DESC">@subcategory.Name</a>
        </div>
    }
</div>